body {
    font-family: 'Poppins', sans-serif;
    background-color: #272727;
    color: #ffffff;
    font-size: 0.9em; /* Perkecil font */
}

.dark-theme {
    background-color: #272727;
    color: #ffffff;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #181818;
}

.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-primary {
    color: #007bff !important;
}

.text-secondary {
    color: #6c757d !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.table-dark {
    background-color: #1e1e1e;
    color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-control {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #444;
}

.form-control:focus {
    background-color: #2d2d2d;
    color: #ffffff;
    border-color: #007bff;
}

/* Tombol Scroll to Top */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 32px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20%;
    padding: 10px 15px; /* Membuat tombol lebih besar */
    font-size: 20px; /* Membesarkan teks */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 9999;
    transition: transform 0.3s ease;
}
.scroll-to-top:hover {
    transform: scale(1.1);
}

/* Perkecil bar violation */
#violate-select td, #violate-select th {
    padding: 0.5rem;
    font-size: 0.85em;
}

/* Tombol Clear Search */
#clear-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #6c757d;
    z-index: 100;
}

#clear-search:hover {
    color: #ffffff;
}

/* Logo instagram */
a img {
    border-radius: 30%;
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}
